.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  cursor: pointer;
  user-select: none;
}

.operador {
  background-color: #edde16;
}
.boton-contenedor:hover {
  background-color: #b5ca3a;
}
.operador:hover {
  background-color: #3800a0;
}
