* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  background-color: #002973;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #688391;
  border-radius: 20px;
  border: 5px solid whitesmoke;
}
.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
